<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Yes</title>
  </head>
  <body>
    <h1>You searched for : <%= data.userQuery %></h1>
    <% if(data.loggedIn){ %>
    <h2>You are Logged in <%= data.userName %></h2>
    <% } %>
    <ul>
      <% data.searchResults.forEach(result => { %>
      <li><%= result %></li>
      <% }) %>
    </ul>
  </body>
</html>
